<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>foooooooze</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>

<body ng-app="formExample" class="container">
    <div ng-controller="QueueController">
    <form novalidate class="simple-form">
      Fooser: <input type="text" ng-model="user.name" /><br />
      <button ng-click="queue(user)">QUEUE</button>
    </form>
    <pre>form = {{user | json}}</pre>
    <pre>master = {{master | json}}</pre>
  </div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.15/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>

</html>